*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Generic */

.large-container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: red;
    min-height: 500px;
}


/* Header */

header{
    background-color: red;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav-left {
    background-color: aqua;
    width: 500px;
    height: 30px;
}

.nav-right {
    background-color: aqua;
    width: 500px;
    height: 30px;
}

/* Main */

    .title{
        width: 100%;
        height: 200px;
        background-color: black;
    }

    .text{
        flex-basis: 40%;
        background-color: blue;
        min-height: 300px;
    }

    .all-jumbo{
        display: flex;
    }

    .jumbo-pic{
        flex-basis: 60%;
        background-color: purple;
        min-height: 300px;
    }

/* Utilities */

.grid-blue{
    background-color: #b4d0e7;
    min-height: 700px;
    padding-top: 100px;
}
