*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

/* Generic */

.large-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 1000px;
    margin: 0 auto;
}

.full-container{
    background-color: #f5f5f5;
}

h1{
    font-size: 78px;
    padding-top: 100px;
    font-weight: 800;
}


h2{
    font-size: 45px;
}

h3{
    font-size: 40px;
    color: #61082b;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 20px;
}

a{
    text-decoration: none;
}

p{
    line-height: 25px;
}

img{
    display: block;
    max-width: 100%;
}

ul{
    gap: 40px;
    list-style: none;
}

/* BTN */

.btn{
    padding: 10px 20px;
    position: relative;
}

.btn-main{
    background-color:#0061ff ;
    color: white;

}

.btn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}

.btn-secondary{
    background-color:white ;
    color: black;
    border: 1px solid black;
    display: inline-block;

}

/* Header */

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: white;
    line-height: 80px;
}

header .nav-left {
    align-items: center;
}

.logo{
    margin-right: 40px;
}

header nav a{
    color: black
}

header .nav-right {
    justify-content: flex-end;
}

header li:hover {
    border-bottom: 1px solid blue;
}

/* Jumbo */

    .all-jumbo{
    display: flex;
    }

    .left-jumbo{
        flex-basis: 30%;
    }
    
    .right-jumbo{
        flex-basis: 70%;
    }

    .cancel-trial{
        margin-top: 50px;
    }

/* Main */

    .box-btn {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .box-btn.box-checked {
        border: 4px solid #0061ff ;
    }

    .box-btn.box-unchecked {
        border: 1px solid gray;
        margin-left: 50px;
    }

/* Billing cards */

    .billing-type{
        justify-content: space-between;
    }

    .billing{
        flex-basis: calc(100% / 3 - 30px);
        border:  1px solid lightgray;
    }

    .billing-title{
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid lightgray;

    }

    .billing-body{ 
        padding: 25px;
    }

    .price{
        font-weight: 800;
    }

    .price-recurrence{
        color: #666;
    }

    .fa-check{
        color: blue;
    }

    .billing-body .btn{ 
        display:block;
        text-align: center;
    }

    .billing-body>p{
        margin: 30px 0;
    }

    .billing-body hr{
        width: 25%;
    }

    .billing-ul li{
        gap: 10px;
        align-items: baseline;
    }

    .billing-custom{
        border: 1px solid lightgray;
    }

    .custom-flex{
        align-items: flex-start;
    }

    .custom-flex .flex-left{
        padding-right: 60px;
    }

/* Card Partner */

    .card-large{
        flex-basis: 60%;
        text-align: right;
        
    }

    .card-large img{
        text-align: right;
    }

    .card-small{
        flex-basis: 40%;
        padding: 50px;
    }

    .card-small p{
        line-height: 25px;
    }


/* Multitasking */

    .row{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .column{
        flex-basis: calc(100% / 3 - 20px);
    }

    .clients{
        text-decoration: underline;
    }

/* Sponsor */

    .sponsor{
        width: calc(100vw / 3);
        height: calc(100vw / 3);
        flex-wrap: wrap;
    }

    .team{
        width:50%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    .partner-center{
        padding: 50px;
    }

    .partner-center img{
        width: 300px;
    }

    .partner-center hr{
        width: 25%;
        border: 1px solid lightgray;
    }

    .team img{
        width: 200px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(116deg) brightness(98%) contrast(106%);
    }

    .team:hover{
        border: 15px solid rgba(0, 0, 0, 0.7);
    }

    .grid-blue .flex-right a{
        border: 0;
    }

    .grid-blue .small-container{
        width: 100%;
    } 

    /* Requests */

    .requests-row{
        padding: 40px 40px 40px 0;
        cursor: pointer;
    }

    .question{
        justify-content: space-between;
    }

    .answers{
        display: none;
    }

    .requests-row:hover .answers{
        display: block;
        padding: 40px;
    }

    .requests-row:hover .fa-angle-down{
        display: none;
    }

    .requests-row:hover .question::after{
        content: "\f106";
        font: var(--fa-font-solid);
    }

    .requests-row .answer{
        display: block;
    }

    /* Footer */

    footer{
        background-color: black;
        padding-top: 50px;
    }

    .footer-item{
        flex-basis: calc( 100% / 5);
        color: white;
    }

    .footer-item a{
        color: white;
        line-height: 40px;
    }

    .language{
        border-top: 1px solid #949799;
        padding-top: 30px;
        padding-right: 20px;
        color: #949799;
    }

/* Utilities */

.grid-blue{
    background: linear-gradient(#b4d0e7 92%, #FFF 8%);
    align-items: center;
    min-height: 400px;
}

.flex{
    display: flex;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-150{
    margin-bottom: 150px;
}

.flex-left{
    flex-basis: 70%;
}

.flex-right{
    flex-basis: 30%;
}

.tx-r{
    text-align: right;
}

.border-b{
    border-bottom: 1px solid black;
}

.p-50{
    padding: 50px 0;
}

.td-und{
    text-decoration: underline;
}

.bg-green{
    background-color: #a2d39b;
}

.bg-purple{
    background-color: #61082b;
}

.bg-sky-blue{
    background-color: #0093ce;
}

.bg-red{
    background-color: #ff1c1c;
}

.bg-light-blue{
    background-color: #b4d0e7;
}

.bg-blue{
    background-color: #0d2481;
}

.bg-yellow{
    background-color:#ffd830 ;
}